@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-colour: #AFD0D2;
	--text-colour: #041F39;
	--secondary-colour: #FAFAFA;
	--card-colour: #053531;
	--light-blue: #B7E2E4;
	--red: #CE5A1B;
	--white: #F1F2F2;
	--turquoise: #009397;
}

body {
	font-family: "Poppins", sans-serif;
}

/* @layer components {
	.title-text-style {
		@apply ;
	}
} */